div.sidebar {
    width: 7%;  
    height: 100vh;  
    float: left;  
    background-color: #5f47fb;  
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  
    position: sticky;  

}

div.sidebar {
    font-size: 1.2em;  
    margin-bottom: 15px;  
    color: rgb(255, 255, 255);  
    font-family: 'Arial', sans-serif;  
    position: sticky;
    text-align: center;  
    
}
div.title {
    font-size: 1.4em;
    color:white;
    font-weight: bold;  
}

#date {
    font-size: 1.2em;  
    color: rgb(0, 0, 0);  
    
    width:150px;
    height: 40px;
    margin:0px auto;
    font-family: 'Arial', sans-serif;  
    font-weight: bold;  
    text-align: center;  
    position:relative;
    top: 0px;
    left: 720px;
    border-radius: 5px;  
}

#Table {
    margin-left: 15%;  
    padding: 20px;  
    font-family: 'Arial', sans-serif;  
    font-size: 1em;  
    color: #333;  
}

#Table table {
    width: 100%;  
    border-collapse: collapse;  
    text-align: center;  
    position:relative;
    top:250px;
    left:-30px;
    height: 300px;  
    margin: 0 auto;  
    right: -10px;
    }

#Table th, #Table td {
    border: 1px solid #ddd;  
    padding: 10px;  
}

#Table th {
    background-color: #f4f4f4;  
    font-weight: bold;  
}

#Table tr:nth-child(even) {
    background-color: #f9f9f9;  
}
#incomeInfo, #expenseInfo, #debtInfo {
    font-size: 1.5em;  
    color: #333;  
    font-family: 'Arial', sans-serif;  
    font-weight: bold;  
    position: relative;
    top: 100px;
    left: 20px;
    margin-top: 20px;  
}

#addIncome, #addExpense, #addDebt {
    font-size: 1.2em;  
    color: #fff;  
    background-color: #5f47fb;  
    padding: 10px 20px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-family: 'Arial', sans-serif;  
    position:relative;
    top: 120px;
    left: 120px;
    margin-top: 20px;  
}